<!DOCTYPE html>
<body>
    {{#catalog}}
    <div style="display:inline-block; background-color:aliceblue; border-style:double; padding:10px">
    <h2>
        {{name}}
    </h2>
     <p class="description">
        <div>
            Product Description:
        </div>
        {{description}}
    </p>
    <div class="price">
        ${{price}}
    </div>
    <p class="productMeta" style="">
        Product Type: {{category}}
        Product ID: {{id}}
    </p>
    </div>
    {{/catalog}}
    {{#if invalid}}
    <div style="display:inline-block; border-style:double; background-color:aliceblue; padding:10px">
    <p>
        ERROR 404
    </p>
    <p>
        It looks like that product doesn't exist.
    </p>
    <p>
        It's possible that the listing was moved to a new ID.
    </p>
    </div>
    {{/if}}
</body>